In [332]:
train = pd.read_csv("train_1.csv")

In [343]:
kk = pd.read_csv("key_1.csv")

In [334]:
res = train[['Page']]

In [340]:
res.head()

                                                Page
0            2NE1_zh.wikipedia.org_all-access_spider
1             2PM_zh.wikipedia.org_all-access_spider
2              3C_zh.wikipedia.org_all-access_spider
3         4minute_zh.wikipedia.org_all-access_spider
4  52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...

In [344]:
kk.head()

                                                Page            Id
0  !vote_en.wikipedia.org_all-access_all-agents_2...  bf4edcf969af
1  !vote_en.wikipedia.org_all-access_all-agents_2...  929ed2bf52b9
2  !vote_en.wikipedia.org_all-access_all-agents_2...  ff29d0f51d5c
3  !vote_en.wikipedia.org_all-access_all-agents_2...  e98873359be6
4  !vote_en.wikipedia.org_all-access_all-agents_2...  fa012434263a

In [345]:
res.shape, kk.shape

((145063, 1), (8703780, 2))

In [346]:
kk.Page = kk.Page.apply(lambda x: x[:-11])

In [347]:
kk.head()

                                           Page            Id
0  !vote_en.wikipedia.org_all-access_all-agents  bf4edcf969af
1  !vote_en.wikipedia.org_all-access_all-agents  929ed2bf52b9
2  !vote_en.wikipedia.org_all-access_all-agents  ff29d0f51d5c
3  !vote_en.wikipedia.org_all-access_all-agents  e98873359be6
4  !vote_en.wikipedia.org_all-access_all-agents  fa012434263a

In [348]:
res = res.merge(kk, on='Page')

In [349]:
res.head()

                                      Page            Id
0  2NE1_zh.wikipedia.org_all-access_spider  ff8c1aade3de
1  2NE1_zh.wikipedia.org_all-access_spider  6a4de5b43179
2  2NE1_zh.wikipedia.org_all-access_spider  559a1ab24535
3  2NE1_zh.wikipedia.org_all-access_spider  8bd4a4dea5a3
4  2NE1_zh.wikipedia.org_all-access_spider  fb31ab105824

In [350]:
res.shape

(8703780, 2)

In [51]:
import pandas as pd
import numpy as np

train_2 = pd.read_csv("train_2.csv")

train = train_2.iloc[:, :-60]

valid = train_2.iloc[:, -60:]

Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)


train['Visits']=train.iloc[:,-len(Windows):].median(axis=1)

train.Visits[train.Visits.isnull()] = 0.0


y_true = valid.values.reshape(-1, 1).ravel()

preds = np.tile(train.Visits.values.reshape(-1,1), (1, 60)).reshape(-1, 1)
y_pred = preds.ravel()


def smape(y_true, y_pred):
    denominator = (np.abs(y_true) + np.abs(y_pred))
    diff = np.abs(y_true - y_pred) / denominator
    diff[denominator == 0] = 0.0
    return 200 * np.mean(diff)

print smape(pd.Series(y_true), pd.Series(y_pred))

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

38.6271467177

In [53]:
import pandas as pd
import numpy as np

train_2 = pd.read_csv("train_2.csv")

train = train_2.iloc[:, :-60]

valid = train_2.iloc[:, -60:]

Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)


train['Visits']=train.iloc[:,-len(Windows):].median(axis=1)

train.Visits[train.Visits.isnull()] = 0.0
train.Visits[train.Visits < 1] = 0.0


y_true = valid.values.reshape(-1, 1).ravel()

preds = np.tile(train.Visits.values.reshape(-1,1), (1, 60)).reshape(-1, 1)
y_pred = preds.ravel()


def smape(y_true, y_pred):
    denominator = (np.abs(y_true) + np.abs(y_pred))
    diff = np.abs(y_true - y_pred) / denominator
    diff[denominator == 0] = 0.0
    return 200 * np.mean(diff)

print smape(pd.Series(y_true), pd.Series(y_pred))

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

38.5710044594

In [55]:
import pandas as pd
import numpy as np

train_2 = pd.read_csv("train_2.csv")

train = train_2.iloc[:, :-60]

valid = train_2.iloc[:, -60:]

Windows = [9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)


train['Visits']=train.iloc[:,-len(Windows):].median(axis=1)

train.Visits[train.Visits.isnull()] = 0.0
# train.Visits[train.Visits < 1] = 0.0

y_true = valid.values.reshape(-1, 1).ravel()

preds = np.tile(train.Visits.values.reshape(-1,1), (1, 60)).reshape(-1, 1)
y_pred = preds.ravel()


def smape(y_true, y_pred):
    denominator = (np.abs(y_true) + np.abs(y_pred))
    diff = np.abs(y_true - y_pred) / denominator
    diff[denominator == 0] = 0.0
    return 200 * np.mean(diff)

print smape(pd.Series(y_true), pd.Series(y_pred))

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

39.0578672542

In [ ]:
import pandas as pd
import numpy as np

train_2 = pd.read_csv("train_2.csv")

train = train_2.iloc[:, :-60]

valid = train_2.iloc[:, -60:]

Windows = [9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)


train['Visits']=train.iloc[:,-len(Windows):].median(axis=1)

train.Visits[train.Visits.isnull()] = 0.0


y_true = valid.values.reshape(-1, 1).ravel()

preds = np.tile(train.Visits.values.reshape(-1,1), (1, 60)).reshape(-1, 1)
y_pred = preds.ravel()


def smape(y_true, y_pred):
    denominator = (np.abs(y_true) + np.abs(y_pred))
    diff = np.abs(y_true - y_pred) / denominator
    diff[denominator == 0] = 0.0
    return 200 * np.mean(diff)

print smape(pd.Series(y_true), pd.Series(y_pred))

In [196]:
y_true.shape

(8703780,)

In [55]:
# Windows = [6, 10, 16 , 26 , 42 , 68 , 110 , 178 , 288] => 39.110112759343629

# Windows = [15 , 24 , 39 , 63 , 102 , 165 , 267 , 432] => 40.159213178503819

# Windows = [7,12 , 19 , 31 , 50 , 81 , 131 , 212 , 343] => 39.265194557560648

# Windows = [4, 8,12 , 20 , 32 , 52 , 84 , 136 , 220 , 356] => 39.004430857485268

# Windows = [8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377] => 39.338222798364846

# Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432] => 39.19838400963756

# Windows = [6, 12, 18, 30, 48, 78, 126, 203, 329] => 39.19157267300591

In [118]:
## add one more value, worse
# Windows = [6, 10, 16 , 26 , 42 , 68 , 110 , 178 , 288, 466] => 39.27564553966397

Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432, 699] => 39.66575075732745
Windows = [6, 12, 18, 30, 48, 78, 126, 203, 329, 532] => 39.38943795225456
## decrease one, better (best)
Windows = [6, 10, 16 , 26 , 42 , 68 , 110 , 178] => 39.119408903369816
Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267] => 39.14283723101235
Windows = [6, 12, 18, 30, 48, 78, 126, 203] => 39.171579751871334

## decrease two, similar
Windows = [6, 10, 16 , 26 , 42 , 68 , 110] => 39.16651878121132

Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165] => 39.19170462530361
Windows = [6, 12, 18, 30, 48, 78, 126] => 39.17159914427684

In [311]:
Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

In [ ]:
Windows = [9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

In [312]:
# Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432] => 39.19838400963756
# Windows = [6, 12, 18, 30, 48, 78, 126, 203, 329] => 39.19157267300591

for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)

train['Visits']=train.iloc[:,734:].median(axis=1)

train.Visits[train.Visits.isnull()] = 0.0

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [313]:
y_true = valid.values.reshape(-1, 1).ravel()

preds = np.tile(train.Visits.values.reshape(-1,1), (1, 60)).reshape(-1, 1)
y_pred = preds.ravel()

In [315]:
y_true

array([ 26.,  15.,  14., ...,   9.,   6.,   5.])

In [316]:
smape(pd.Series(y_true), pd.Series(y_pred))

39.19838400963756

In [323]:
smape(pd.Series(y_true), pd.Series(np.round(y_pred)))

39.10342103539304

In [353]:
preds.ravel()[4675:4700]

array([ 9.,  9.,  9.,  9.,  9.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,
        3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.])

In [354]:
np.abs(y_true[4675:4700])

array([ 12.,  18.,  10.,   9.,  10.,   4.,   6.,   2.,  18.,   7.,   9.,
         1.,   1.,   7.,   1.,   2.,   1.,   2.,   3.,   1.,   9.,   6.,
         1.,  nan,   5.])

In [401]:
y_pred = preds.ravel()[4675:4700]

In [405]:
y_pred

array([ 9.,  9.,  9.,  9.,  9.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,
        3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.])

In [402]:
y_true = y_true[4675:4700]

In [68]:
def smape(y_true, y_pred):
    denominator = (np.abs(y_true) + np.abs(y_pred))
    diff = np.abs(y_true - y_pred) / denominator
    diff[denominator == 0] = 0.0
    return 200 * np.mean(diff)

In [404]:
smape(y_true, y_pred)

ValueError: operands could not be broadcast together with shapes (0,) (25,)

In [384]:
np.mean?

In [12]:
Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)

train['Visits']=train.iloc[:,734:].median(axis=1)

train.Visits[train.Visits.isnull()] = 0.0

In [15]:
train.Visits.shape

(145063,)

In [16]:
train.Visits.values

array([ 24. ,  24.5,   3.5, ...,  35.5,   6.5,  14. ])

In [17]:
preds = np.tile(train.Visits.values.reshape(-1,1), (1, 60)).reshape(-1, 1)

In [418]:
preds.shape

(8703780, 1)

In [318]:
smape(valid.values.reshape(-1, 1), preds)

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in divide
  This is separate from the ipykernel package so we can avoid doing imports until

nan

In [288]:
train.iloc[:, 734:]

,6,9,15,24,39,63,102,165,267,432,Visits
0,24.0,24.0,24.0,25.00,26.0,24.00,24.000,22.000,21.0,20.0,24.000
1,27.5,27.5,26.0,24.50,25.0,24.50,22.000,23.000,22.0,21.0,24.500
2,3.0,4.0,4.0,4.00,4.0,3.00,3.000,3.000,3.0,4.0,3.500
3,20.0,19.0,17.0,16.50,15.0,16.00,17.000,17.000,16.0,15.0,16.750
4,13.0,12.0,12.0,12.00,13.0,13.00,13.000,15.000,14.0,10.0,13.000
5,13.5,14.0,14.0,14.00,14.0,14.00,16.000,17.000,18.0,17.0,14.000
6,7.0,7.0,7.0,6.50,6.0,6.50,6.000,6.500,7.0,9.0,6.750
7,22.5,22.5,25.0,26.00,29.0,25.00,30.000,34.000,36.0,41.0,27.500
8,54.5,49.0,49.0,50.50,50.0,46.00,46.000,47.000,42.0,37.0,48.000
9,29.5,28.0,27.0,26.00,25.0,25.00,25.000,27.000,26.0,27.0,26.500
10,29.0,29.0,29.0,30.00,31.0,29.00,25.500,19.000,20.0,16.0,29.000
11,29.5,18.0,14.0,10.50,10.0,9.00,10.250,11.000,10.5,10.0,10.500
12,5.0,5.0,5.0,5.00,5.0,5.00,5.500,7.000,6.0,5.0,5.000
13,24.0,22.0,23.0,28.00,32.0,32.00,28.500,22.000,19.0,16.0,23.500
14,40.5,43.0,43.0,41.25,42.0,43.00,44.000,44.000,43.0,38.0,43.000
15,55.5,55.5,52.0,50.00,40.0,40.00,40.000,40.000,32.0,30.0,40.000
16,39.0,39.0,38.0,37.50,34.0,34.00,35.500,39.000,35.0,30.0,36.500
17,11.0,10.0,11.0,11.00,11.0,10.00,10.000,10.000,10.0,9.0,10.000
18,10.0,10.0,11.0,12.00,13.0,12.00,11.500,12.000,12.0,12.0,12.000
19,11.5,11.0,11.0,9.50,9.5,9.50,9.000,10.000,9.0,9.5,9.500
20,44.0,44.0,31.0,26.00,29.0,25.00,20.000,22.000,26.0,21.0,26.000
21,25.0,24.0,24.0,20.50,21.0,20.00,19.000,19.000,18.0,19.0,20.250
22,9.5,8.0,8.0,9.25,11.0,11.00,11.000,12.000,13.0,14.0,11.000
23,144.5,131.0,63.0,42.50,52.0,52.00,53.000,47.000,41.0,32.0,52.000
24,83.5,83.5,83.5,83.50,83.5,76.00,57.500,55.000,62.0,55.0,79.750
25,22.5,22.5,22.0,20.00,20.0,18.00,15.000,17.000,16.0,17.0,19.000
26,37.5,37.5,37.5,36.75,35.0,33.00,36.375,36.375,34.0,32.0,36.375
27,10.5,11.0,11.0,10.75,11.0,10.75,10.250,11.000,11.0,11.0,11.000
28,32.5,26.0,26.0,26.00,27.0,26.00,26.000,26.000,25.0,24.0,26.000
29,13.0,13.0,14.0,14.00,14.0,14.00,13.000,13.000,12.0,11.0,13.000
...,...,...,...,...,...,...,...,...,...,...,...
145033,11.5,11.0,9.0,9.00,9.0,11.00,14.000,18.000,22.0,23.0,11.250
145034,3.0,3.0,3.0,3.00,3.0,3.00,3.000,3.000,5.0,7.0,3.000
145035,0.5,0.5,0.5,1.00,1.0,1.00,1.000,2.000,3.0,3.0,1.000
145036,1.0,1.0,1.0,1.00,1.0,1.00,1.000,1.000,1.0,1.0,1.000
145037,2.0,2.0,2.0,2.00,2.0,2.00,3.000,4.000,4.0,4.0,2.000
145038,9.0,9.0,9.0,9.00,9.0,9.00,9.000,9.000,10.0,9.0,9.000
145039,1.5,2.0,2.0,2.00,2.0,3.00,5.000,16.000,15.0,14.0,2.500
145040,14.0,15.0,14.0,15.00,15.0,14.00,14.000,14.000,11.0,9.0,14.000
145041,2.5,3.0,3.0,3.00,3.0,4.00,4.000,5.000,5.0,5.0,3.500
145042,6.5,6.5,6.0,6.00,6.0,7.00,8.000,10.000,8.0,7.0,6.750
145043,4.0,4.0,4.0,4.00,4.0,5.00,5.000,5.000,6.0,6.0,4.500
145044,5.0,5.0,5.0,5.00,5.0,5.00,7.000,11.000,12.0,11.0,5.000
145045,5.0,5.0,5.0,5.00,6.0,8.00,12.000,16.000,8.0,7.0,6.500
145046,8.0,8.0,6.0,6.00,6.0,6.00,5.000,5.000,6.0,6.0,6.000
145047,2.5,2.5,2.5,2.25,2.5,3.00,3.000,4.000,3.0,3.0,2.750
145048,9.0,10.0,10.0,9.50,10.0,11.00,14.000,19.000,12.0,12.0,10.500
145049,10.5,10.5,10.5,10.75,10.5,13.00,18.500,25.000,22.0,22.0,11.875
145050,5.5,4.0,3.0,2.50,2.5,2.00,2.000,3.000,3.0,3.0,3.000
145051,3.0,3.0,6.0,7.00,9.0,10.00,11.500,15.000,16.0,16.0,9.500
145052,14.5,14.0,14.5,14.00,14.0,12.00,11.000,12.000,11.0,11.0,13.000
145053,5.0,5.0,5.0,5.00,5.0,6.00,6.000,6.000,6.0,6.0,5.500
145054,7.5,8.0,8.0,8.00,8.0,7.50,8.000,9.000,10.0,10.0,8.000
145055,3.0,3.0,3.0,3.00,3.0,3.00,5.000,7.000,5.0,5.0,3.000
145056,13.5,13.5,12.0,12.00,12.0,12.00,15.500,28.000,27.0,27.0,13.500
145057,24.5,24.5,24.5,25.75,27.0,27.00,27.000,32.000,32.0,32.0,27.000
145058,5.0,4.0,4.0,4.00,3.0,4.00,5.000,7.000,8.0,8.0,4.500
145059,9.0,9.0,9.0,8.50,7.0,7.00,8.000,11.000,11.0,11.0,9.000
145060,35.5,35.5,35.5,33.50,33.0,33.50,34.000,36.000,36.0,36.0,35.500
145061,6.0,6.0,6.0,6.00,6.0,7.00,9.000,10.000,10.0,10.0,6.500
145062,17.0,14.0,9.0,7.00,7.0,12.00,14.000,18.000,18.0,18.0,14.000

In [233]:
evaluate(test.Visits)

45.1382801997

In [279]:
valid['Page'] = train_2.Page

In [1]:
## use new fibo list can achieve 44.8 on LB

In [31]:
## Download Code
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df = pd.read_csv("train_1.csv")
# train = train.fillna(0.)

In [32]:
from copy import deepcopy

In [65]:
train = deepcopy(df)

In [88]:
# df_train = train.drop("Page", axis = 1)

In [89]:
# np.nanmedian(df_train, axis=1)

In [90]:
Windows = [4, 8,12 , 20 , 32 , 52 , 84 , 136 , 220 , 356]

In [44]:
Windows = [8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377]

In [9]:
Windows = Windows + [6, 12, 18, 30, 48, 78, 126, 203, 329]

In [23]:
Windows = [i**2 for i in range(2,17, 2)]

In [24]:
Windows

[4, 16, 36, 64, 100, 144, 196, 256]

In [57]:
train.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [13]:
# train = train.iloc[:, :-13]

In [105]:
Windows = [6, 10, 16 , 26 , 42 , 68 , 110 , 178 , 288]

In [66]:
Windows = [9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

In [67]:
for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)

train['Visits']=train.iloc[:,-len(Windows):].median(axis=1)

In [68]:
train.Visits[train.Visits.isnull()] = 0.0

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [69]:
train.Visits[train.Visits < 1] = 0.0

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [206]:
train.Visits = np.round(train.Visits)

In [62]:
test = pd.read_csv("key_1.csv")
test['date'] = test.Page.apply(lambda x: x[-10:])
test['date'] = test['date'].astype('datetime64[ns]')
test['weekend'] = (test.date.dt.dayofweek // 5).astype(float)
test['Page'] = test.Page.apply(lambda x: x[:-11])

# test = test.merge(train[['Page','Visits']], on='Page', how='left')
# test[['Id','Visits']].to_csv('fibo2_sub.csv', index=False)

In [46]:
df_test = deepcopy(test)

In [155]:
test.head()

,Page,Id,date,weekend,Visits
0,!vote_en.wikipedia.org_all-access_all-agents,bf4edcf969af,2017-01-01,1.0,3.0
1,!vote_en.wikipedia.org_all-access_all-agents,929ed2bf52b9,2017-01-02,0.0,2.0
2,!vote_en.wikipedia.org_all-access_all-agents,ff29d0f51d5c,2017-01-03,0.0,2.0
3,!vote_en.wikipedia.org_all-access_all-agents,e98873359be6,2017-01-04,0.0,2.0
4,!vote_en.wikipedia.org_all-access_all-agents,fa012434263a,2017-01-05,0.0,2.0

In [223]:
train = deepcopy(df)

In [70]:
test = deepcopy(df_test)

In [263]:
Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

In [222]:
Windows = [6, 12, 18, 30, 48, 78, 126]

In [122]:
a,b = 4,8
for i in range(10):
    a,b = b, a+b
    print b, ",",

12 , 20 , 32 , 52 , 84 , 136 , 220 , 356 , 576 , 932 ,

In [270]:
Windows = [6, 10, 16 , 26 , 42 , 68 , 110 , 178 , 288]

Windows = [15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

Windows = [7,12 , 19 , 31 , 50 , 81 , 131 , 212 , 343]

Windows = [4, 8,12 , 20 , 32 , 52 , 84 , 136 , 220 , 356]

# Windows = [8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377]

In [225]:
for W in Windows: 
    train[str(W)]=train.iloc[:,-W:].median(axis=1)

train['Visits']=train.iloc[:,552:].median(axis=1)

In [226]:
train.Visits[train.Visits.isnull()] = 0.0

/Users/frank/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
test = test.merge(train[['Page','Visits']], on='Page', how='left')

In [9]:
fibo_res = test.Visits

In [72]:
evaluate(test.Visits)

44.7682368903

In [22]:
evaluate(fibo_res)

44.7556961612

In [23]:
evaluate(holiday_res)

44.6888756838

In [24]:
evaluate(weekend_res)

45.2194501128

In [324]:
evaluate(fibo_res)

44.7556961612

In [326]:
evaluate(fibo_res * 1.04)

44.620705952

In [50]:
evaluate(np.round(test.Visits * 0.35 + holiday_res * 0.35 + weekend_res * 0.3))

44.144189738

In [88]:
evaluate(np.round(fibo_res * 0.6 + holiday_res * 0.4))

43.9792359638

In [97]:
evaluate(np.round(fibo_res * 0.63 + holiday_res * 0.3 + weekend_res * 0.1 ))

43.8566372906

In [328]:
evaluate(np.round(fibo_res * 0.6 + weekend_res * 0.4))

44.4626906461

In [289]:
evaluate(fibo_res * 0.6 + weekend_res * 0.0 + holiday_res * 0.4)

44.5488946486

In [73]:
tmp = pd.read_csv('res_backup/submission_tmp.csv')

In [74]:
rnn21 = pd.read_csv("submission_tmp.csv")

In [363]:
rnn21.shape

(8703780, 2)

In [372]:
evaluate(np.round(rnn21.Visits))

46.9102557957

In [382]:
rnn21.Visits.describe()

count    8.703780e+06
mean     1.211686e+03
std      7.980702e+04
min      0.000000e+00
25%      1.701226e+01
50%      1.385993e+02
75%      6.183546e+02
max      2.657248e+07
Name: Visits, dtype: float64

In [383]:
true_labels.true_labels.describe()

count    8.505559e+06
mean     1.569607e+03
std      8.965479e+04
min      0.000000e+00
25%      2.300000e+01
50%      1.690000e+02
75%      7.400000e+02
max      3.142356e+07
Name: true_labels, dtype: float64

In [354]:
evaluate(tmp.Visits)

50.835060692

In [357]:
evaluate(fibo_res * 0.9 + tmp.Visits * 0.1)

45.4835636657

In [358]:
fibo_res

0            3.0
1            3.0
2            3.0
3            3.0
4            3.0
5            3.0
6            3.0
7            3.0
8            3.0
9            3.0
10           3.0
11           3.0
12           3.0
13           3.0
14           3.0
15           3.0
16           3.0
17           3.0
18           3.0
19           3.0
20           3.0
21           3.0
22           3.0
23           3.0
24           3.0
25           3.0
26           3.0
27           3.0
28           3.0
29           3.0
           ...
8703750    235.0
8703751    235.0
8703752    235.0
8703753    235.0
8703754    235.0
8703755    235.0
8703756    235.0
8703757    235.0
8703758    235.0
8703759    235.0
8703760    235.0
8703761    235.0
8703762    235.0
8703763    235.0
8703764    235.0
8703765    235.0
8703766    235.0
8703767    235.0
8703768    235.0
8703769    235.0
8703770    235.0
8703771    235.0
8703772    235.0
8703773    235.0
8703774    235.0
8703775    235.0
8703776    235.0
8703777    235.0
8703778    235.0
8703779    235.0
Name: Visits, Length: 8703780, dtype: float64

In [359]:
tmp.Visits

0            3.0
1            3.0
2            3.0
3            3.0
4            3.0
5            3.0
6            3.0
7            2.0
8            2.0
9            2.0
10           3.0
11           3.0
12           3.0
13           3.0
14           3.0
15           3.0
16           3.0
17           3.0
18           3.0
19           3.0
20           3.0
21           3.0
22           3.0
23           3.0
24           3.0
25           3.0
26           3.0
27           3.0
28           3.0
29           3.0
           ...
8703750    219.0
8703751    215.0
8703752    217.0
8703753    219.0
8703754    220.0
8703755    218.0
8703756    218.0
8703757    219.0
8703758    214.0
8703759    216.0
8703760    217.0
8703761    219.0
8703762    219.0
8703763    220.0
8703764    222.0
8703765    218.0
8703766    224.0
8703767    225.0
8703768    226.0
8703769    222.0
8703770    222.0
8703771    220.0
8703772    221.0
8703773    222.0
8703774    223.0
8703775    222.0
8703776    219.0
8703777    215.0
8703778    214.0
8703779    209.0
Name: Visits, Length: 8703780, dtype: float64

In [292]:
fibo_res.describe()

count    8.703780e+06
mean     1.174872e+03
std      8.160951e+04
min      0.000000e+00
25%      1.800000e+01
50%      1.380000e+02
75%      5.980000e+02
max      2.366129e+07
Name: Visits, dtype: float64

In [293]:
weekend_res.describe()

count    8.703780e+06
mean     1.217159e+03
std      8.082866e+04
min      0.000000e+00
25%      1.800000e+01
50%      1.400000e+02
75%      6.250000e+02
max      2.366129e+07
Name: Visits, dtype: float64

In [294]:
holiday_res.describe()

count    8.703780e+06
mean     1.214558e+03
std      8.031656e+04
min      0.000000e+00
25%      1.800000e+01
50%      1.400000e+02
75%      6.270000e+02
max      2.329215e+07
Name: Visits, dtype: float64

In [263]:
evaluate(np.round(fibo_res * 0.55 + weekend_res * 0.3 + holiday_res * 0.2))

44.3113198436

In [259]:
weight = 0.6
evaluate(np.round(test.Visits * weight + weekend_res * (1 - weight)))

44.4626906461

In [172]:
evaluate(weekend_res)

45.2194501128

In [280]:
## 44.35, 44.46, 
Windows = [6,9, 15 , 24 , 39 , 63 , 102 , 165 , 267 , 432]

In [3]:
def smape(y_true, y_pred):
    denominator = (np.abs(y_true) + np.abs(y_pred))
    diff = np.abs(y_true - y_pred) / denominator
    diff[denominator == 0] = 0.0
    return 200 * np.mean(diff)

true_labels = pd.read_csv("true_labels.csv")

def evaluate(preds):
    print smape(true_labels.true_labels, preds)

In [43]:
evaluate(test.Visits)

46.9156303911

In [19]:
import pandas as pd
import numpy as np

train = pd.read_csv("train_1.csv")
train_flattened = pd.melt(train[list(train.columns[-49:])+['Page']], id_vars='Page', var_name='date', value_name='Visits')
train_flattened['date'] = train_flattened['date'].astype('datetime64[ns]')
train_flattened['weekend'] = ((train_flattened.date.dt.dayofweek) // 5 == 1).astype(float)

test = pd.read_csv("key_1.csv")
test['date'] = test.Page.apply(lambda a: a[-10:])
test['Page'] = test.Page.apply(lambda a: a[:-11])
test['date'] = test['date'].astype('datetime64[ns]')
test['weekend'] = ((test.date.dt.dayofweek) // 5 == 1).astype(float)

train_page_per_dow = train_flattened.groupby(['Page','weekend']).median().reset_index()

test = test.merge(train_page_per_dow, how='left')
test.loc[test.Visits.isnull(), 'Visits'] = 0

# test[['Id','Visits']].to_csv('mad.csv', index=False)

In [16]:
aa = pd.read_csv("mad.csv")

In [20]:
evaluate(test.Visits)

45.2194501128

In [21]:
weekend_res = test.Visits

In [153]:
test.shape

(8703780, 5)

In [152]:
test.head()

,Page,Id,date,weekend,Visits
0,!vote_en.wikipedia.org_all-access_all-agents,bf4edcf969af,2017-01-01,1.0,3.0
1,!vote_en.wikipedia.org_all-access_all-agents,929ed2bf52b9,2017-01-02,0.0,2.0
2,!vote_en.wikipedia.org_all-access_all-agents,ff29d0f51d5c,2017-01-03,0.0,2.0
3,!vote_en.wikipedia.org_all-access_all-agents,e98873359be6,2017-01-04,0.0,2.0
4,!vote_en.wikipedia.org_all-access_all-agents,fa012434263a,2017-01-05,0.0,2.0

In [109]:
test[["Id", "Visits"]].to_csv("fibo_2.csv", index=False)

In [9]:
weighted_res = pd.read_csv("res_backup/weight_0.9_median_45.1.csv")

In [10]:
weighted_res.shape

(8703780, 2)

In [96]:
test.head()

,Page,Id,date,Visits
0,!vote_en.wikipedia.org_all-access_all-agents,bf4edcf969af,2017-01-01,2.5
1,!vote_en.wikipedia.org_all-access_all-agents,929ed2bf52b9,2017-01-02,2.5
2,!vote_en.wikipedia.org_all-access_all-agents,ff29d0f51d5c,2017-01-03,2.5
3,!vote_en.wikipedia.org_all-access_all-agents,e98873359be6,2017-01-04,2.5
4,!vote_en.wikipedia.org_all-access_all-agents,fa012434263a,2017-01-05,2.5

In [12]:
test["other_res"] = weighted_res.Visits

In [13]:
test.head()

,Page,Id,date,weekend,Visits,other_res
0,!vote_en.wikipedia.org_all-access_all-agents,bf4edcf969af,2017-01-01,1.0,3.0,3.12
1,!vote_en.wikipedia.org_all-access_all-agents,929ed2bf52b9,2017-01-02,0.0,3.0,2.08
2,!vote_en.wikipedia.org_all-access_all-agents,ff29d0f51d5c,2017-01-03,0.0,3.0,2.08
3,!vote_en.wikipedia.org_all-access_all-agents,e98873359be6,2017-01-04,0.0,3.0,2.08
4,!vote_en.wikipedia.org_all-access_all-agents,fa012434263a,2017-01-05,0.0,3.0,2.08

In [14]:
test['Visits'] = (test.weekend == 1) * test.other_res * 0.9 + (test.weekend == 1) * test.Visits * 0.1 + (test.weekend == 0) * test.Visits

In [15]:
mytest = test[["Id", "Visits"]]

In [16]:
mytest.to_csv("fibo_and_weekend_weight_0.8_on_weekend.csv", index=False)

In [18]:
mytest = pd.read_csv("res_backup/fibo_and_weekend_weight_0.9_on_weekend_44.6.csv")

In [22]:
mytest.Visits = np.round(mytest.Visits)

In [23]:
mytest.head()

             Id  Visits
0  bf4edcf969af     3.0
1  929ed2bf52b9     3.0
2  ff29d0f51d5c     3.0
3  e98873359be6     3.0
4  fa012434263a     3.0

In [24]:
mytest.to_csv("fibo_and_weekend_weight_0.9_round.csv", index = False)

In [27]:
test.tail(200)

,Page,Id,date,weekend,Visits,other_res
8703580,龔嘉欣_zh.wikipedia.org_desktop_all-agents,308fe8a626a1,2017-02-10,0.0,298.0,463.692
8703581,龔嘉欣_zh.wikipedia.org_desktop_all-agents,16f9009c97a7,2017-02-11,1.0,298.0,349.911
8703582,龔嘉欣_zh.wikipedia.org_desktop_all-agents,86270ca7f536,2017-02-12,1.0,298.0,349.911
8703583,龔嘉欣_zh.wikipedia.org_desktop_all-agents,72c456ec7f45,2017-02-13,0.0,298.0,463.692
8703584,龔嘉欣_zh.wikipedia.org_desktop_all-agents,167f3b276b68,2017-02-14,0.0,298.0,463.692
8703585,龔嘉欣_zh.wikipedia.org_desktop_all-agents,55f60da44fe6,2017-02-15,0.0,298.0,463.692
8703586,龔嘉欣_zh.wikipedia.org_desktop_all-agents,b8bb5e415118,2017-02-16,0.0,298.0,463.692
8703587,龔嘉欣_zh.wikipedia.org_desktop_all-agents,ff8251c57216,2017-02-17,0.0,298.0,463.692
8703588,龔嘉欣_zh.wikipedia.org_desktop_all-agents,51c0d34438c4,2017-02-18,1.0,298.0,349.911
8703589,龔嘉欣_zh.wikipedia.org_desktop_all-agents,814b27710d93,2017-02-19,1.0,298.0,349.911
8703590,龔嘉欣_zh.wikipedia.org_desktop_all-agents,10ec85f321d4,2017-02-20,0.0,298.0,463.692
8703591,龔嘉欣_zh.wikipedia.org_desktop_all-agents,4484ae533368,2017-02-21,0.0,298.0,463.692
8703592,龔嘉欣_zh.wikipedia.org_desktop_all-agents,8e591fb9ffc9,2017-02-22,0.0,298.0,463.692
8703593,龔嘉欣_zh.wikipedia.org_desktop_all-agents,80fe04834693,2017-02-23,0.0,298.0,463.692
8703594,龔嘉欣_zh.wikipedia.org_desktop_all-agents,9e9cb6d807bb,2017-02-24,0.0,298.0,463.692
8703595,龔嘉欣_zh.wikipedia.org_desktop_all-agents,ff14ef912e88,2017-02-25,1.0,298.0,349.911
8703596,龔嘉欣_zh.wikipedia.org_desktop_all-agents,9dd4aeaad438,2017-02-26,1.0,298.0,349.911
8703597,龔嘉欣_zh.wikipedia.org_desktop_all-agents,d8f854ba893b,2017-02-27,0.0,298.0,463.692
8703598,龔嘉欣_zh.wikipedia.org_desktop_all-agents,c724eedd1839,2017-02-28,0.0,298.0,463.692
8703599,龔嘉欣_zh.wikipedia.org_desktop_all-agents,c35cf3a1a890,2017-03-01,0.0,298.0,463.692
8703600,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,89808d5e6d3d,2017-01-01,1.0,323.0,521.716
8703601,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,e0cab36202be,2017-01-02,0.0,323.0,561.392
8703602,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,83e60f37ff4b,2017-01-03,0.0,323.0,561.392
8703603,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,3925c2aef6f3,2017-01-04,0.0,323.0,561.392
8703604,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,dbab1fb4c205,2017-01-05,0.0,323.0,561.392
8703605,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,584e947839ed,2017-01-06,0.0,323.0,561.392
8703606,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,7d062a503fb0,2017-01-07,1.0,323.0,521.716
8703607,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,f8ac4c57cf7f,2017-01-08,1.0,323.0,521.716
8703608,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,8511ebce0da5,2017-01-09,0.0,323.0,561.392
8703609,龔嘉欣_zh.wikipedia.org_mobile-web_all-agents,a2c1460dc23e,2017-01-10,0.0,323.0,561.392
...,...,...,...,...,...,...
8703750,龙生九子_zh.wikipedia.org_mobile-web_all-agents,1fb8f902ad0f,2017-01-31,0.0,233.0,252.408
8703751,龙生九子_zh.wikipedia.org_mobile-web_all-agents,0107f6d7cd82,2017-02-01,0.0,233.0,247.554
8703752,龙生九子_zh.wikipedia.org_mobile-web_all-agents,30c402ed9e49,2017-02-02,0.0,233.0,247.554
8703753,龙生九子_zh.wikipedia.org_mobile-web_all-agents,935fa0168d01,2017-02-03,0.0,233.0,247.554
8703754,龙生九子_zh.wikipedia.org_mobile-web_all-agents,1140b428380e,2017-02-04,1.0,233.0,270.045
8703755,龙生九子_zh.wikipedia.org_mobile-web_all-agents,cc5eadae0d7a,2017-02-05,1.0,233.0,270.045
8703756,龙生九子_zh.wikipedia.org_mobile-web_all-agents,f923701cdb05,2017-02-06,0.0,233.0,247.554
8703757,龙生九子_zh.wikipedia.org_mobile-web_all-agents,905679a20d39,2017-02-07,0.0,233.0,247.554
8703758,龙生九子_zh.wikipedia.org_mobile-web_all-agents,642354a50690,2017-02-08,0.0,233.0,247.554
8703759,龙生九子_zh.wikipedia.org_mobile-web_all-agents,7376c63bd4c1,2017-02-09,0.0,233.0,247.554
8703760,龙生九子_zh.wikipedia.org_mobile-web_all-agents,1f0566b71f7e,2017-02-10,0.0,233.0,247.554
8703761,龙生九子_zh.wikipedia.org_mobile-web_all-agents,938774bbb675,2017-02-11,1.0,233.0,270.045
8703762,龙生九子_zh.wikipedia.org_mobile-web_all-agents,53c046bac8cb,2017-02-12,1.0,233.0,270.045
8703763,龙生九子_zh.wikipedia.org_mobile-web_all-agents,ead2377353d3,2017-02-13,0.0,233.0,247.554
8703764,龙生九子_zh.wikipedia.org_mobile-web_all-agents,efa87c7d5160,2017-02-14,0.0,233.0,247.554
8703765,龙生九子_zh.wikipedia.org_mobile-web_all-agents,f239d6ceb17b,2017-02-15,0.0,233.0,247.554
8703766,龙生九子_zh.wikipedia.org_mobile-web_all-agents,0fef0826b1bc,2017-02-16,0.0,233.0,247.554
8703767,龙生九子_zh.wikipedia.org_mobile-web_all-agents,478d3c34b0c1,2017-02-17,0.0,233.0,247.554
8703768,龙生九子_zh.wikipedia.org_mobile-web_all-agents,6a1b6e3028fc,2017-02-18,1.0,233.0,270.045
8703769,龙生九子_zh.wikipedia.org_mobile-web_all-agents,3b5fb022accd,2017-02-19,1.0,233.0,270.045
8703770,龙生九子_zh.wikipedia.org_mobile-web_all-agents,a4456a9d271d,2017-02-20,0.0,233.0,247.554
8703771,龙生九子_zh.wikipedia.org_mobile-web_all-agents,d43a25cf4ef2,2017-02-21,0.0,233.0,247.554
8703772,龙生九子_zh.wikipedia.org_mobile-web_all-agents,8f47d2e020cd,2017-02-22,0.0,233.0,247.554
8703773,龙生九子_zh.wikipedia.org_mobile-web_all-agents,a78af728d84b,2017-02-23,0.0,233.0,247.554
8703774,龙生九子_zh.wikipedia.org_mobile-web_all-agents,d1ba45c7ec08,2017-02-24,0.0,233.0,247.554
8703775,龙生九子_zh.wikipedia.org_mobile-web_all-agents,f69747f5ee68,2017-02-25,1.0,233.0,270.045
8703776,龙生九子_zh.wikipedia.org_mobile-web_all-agents,2489963dc503,2017-02-26,1.0,233.0,270.045
8703777,龙生九子_zh.wikipedia.org_mobile-web_all-agents,b0624c909f4c,2017-02-27,0.0,233.0,247.554
8703778,龙生九子_zh.wikipedia.org_mobile-web_all-agents,24a1dfb06c10,2017-02-28,0.0,233.0,247.554
8703779,龙生九子_zh.wikipedia.org_mobile-web_all-agents,add681d54216,2017-03-01,0.0,233.0,247.554

In [ ]:
def get_features(df):
    df['date'] = df['date'].astype('datetime64[ns]')
#     df['every2_weekdays'] = df.date.dt.dayofweek
    df['weekend'] = (df.date.dt.dayofweek // 5).astype(float)
    #df['shortweek'] = ((df.date.dt.dayofweek) // 4 == 1).astype(float)
    return df

In [21]:
test.date.dt.dayofweek // 5

0          1
1          0
2          0
3          0
4          0
5          0
6          1
7          1
8          0
9          0
10         0
11         0
12         0
13         1
14         1
15         0
16         0
17         0
18         0
19         0
20         1
21         1
22         0
23         0
24         0
25         0
26         0
27         1
28         1
29         0
          ..
8703750    0
8703751    0
8703752    0
8703753    0
8703754    1
8703755    1
8703756    0
8703757    0
8703758    0
8703759    0
8703760    0
8703761    1
8703762    1
8703763    0
8703764    0
8703765    0
8703766    0
8703767    0
8703768    1
8703769    1
8703770    0
8703771    0
8703772    0
8703773    0
8703774    0
8703775    1
8703776    1
8703777    0
8703778    0
8703779    0
Name: date, Length: 8703780, dtype: int64

In [5]:
## example here to show how many nonzero values in each line
for i, row in train.iterrows():
    M = []
    start = row[1:].nonzero()[0]
    print len(start),
    
    if i == 100:
        break

551 551 530 551 253 551 186 551 551 551 488 550 533 339 551 551 551 550 551 198 551 551 551 551 187 551 551 477 551 551 550 533 550 551 551 549 539 314 285 545 551 551 549 545 551 548 549 551 212 548 550 551 177 216 125 72 162 551 547 550 267 551 548 551 464 551 197 551 100 539 153 551 543 250 551 551 551 550 500 546 471 30 301 365 551 551 551 551 551 242 551 256 527 545 448 412 361 388 551 102 550

In [4]:
## holiday analysis

In [1]:
import pandas as pd
import numpy as np
import re
import gc; gc.enable()
from sklearn.feature_extraction import text
from sklearn import naive_bayes

train = pd.read_csv("train_1.csv")
#determine idiom with URL
train['origine']=train['Page'].apply(lambda x:re.split(".wikipedia.org", x)[0][-2:])
'''
This is what you get with a value counts on train.origine
en    24108
ja    20431
de    18547
fr    17802
zh    17229
ru    15022
es    14069
ts    13556
er     4299
'''
#we have english, japanese, deutch, french, chinese (taiwanese ?), russian, spanish
#ts and er are undetermined; in the next lines, I try to replace them by learning from special chars
#Note : this step wasn't tuned, and can't be perfect because other idioms are available in those Pages (such as portuguese for example)

#let's make a train, target, and test to predict language on ts and er pages
orig_train=train.loc[~train.origine.isin(['ts', 'er']), 'Page']
orig_target=train.loc[~train.origine.isin(['ts', 'er']), 'origine']
orig_test=train.loc[train.origine.isin(['ts', 'er']), 'Page']
#keep only interesting chars
orig_train2=orig_train.apply(lambda x:x.split(".wikipedia")[0][:-3]).apply(lambda x:re.sub("[a-zA-Z0-9():\-_ \'\.\/]", "", x))
orig_test2=orig_test.apply(lambda x:x.split(".wikipedia")[0][:-3]).apply(lambda x:re.sub("[a-zA-Z0-9():\-_ \'\.\/]", "", x))
#run TFIDF on those specific chars
tfidf=text.TfidfVectorizer(input='content', encoding='utf-8', decode_error='strict', strip_accents=None, 
                     lowercase=True, preprocessor=None, tokenizer=None, 
                     analyzer='char', #stop_words=[chr(x) for x in range(97,123)]+[chr(x) for x in range(65,91)]+['_','.',':'], 
                     token_pattern='(?u)\\b\\w\\w+\\b', ngram_range=(1, 1), max_df=1.0, min_df=1, max_features=None, vocabulary=None, binary=True, norm='l2', 
                     use_idf=True, smooth_idf=True, sublinear_tf=False)
orig_train2=tfidf.fit_transform(orig_train2)
#apply a simple naive bayes on the text features
model=naive_bayes.BernoulliNB()
model.fit(orig_train2, orig_target)
result=model.predict(tfidf.transform(orig_test2))
result=pd.DataFrame(result, index=orig_test)
result.columns=['origine']
#result will be used later to replace 'ts' and 'er' values
#we need to remove train.origine so that the train can be flattened with melt
del train['origine']

#let's flatten the train as did clustifier and initialize a "ferie" columns instead of a weekend column
train = pd.melt(train[list(train.columns[-49:])+['Page']], id_vars='Page', var_name='date', value_name='Visits')
train['date'] = train['date'].astype('datetime64[ns]')
train['ferie'] = ((train.date.dt.dayofweek) >=5).astype(float)
train['origine']=train['Page'].apply(lambda x:re.split(".wikipedia.org", x)[0][-2:])

#let's join with result to replace 'ts' and 'er'
join=train.loc[train.origine.isin(["ts","er"]), ['Page']]
join['origine']=0 #init
join.index=join["Page"]
join.origine=result
train.loc[train.origine.isin(["ts","er"]), ['origine']]=join.origine.values #replace

#official non working days by country (manual search with google)
#I made a lot of shortcuts considering that only Us and Uk used english idiom, 
#only Spain for spanich, only France for french, etc
train_us=['2015-07-04','2015-11-26','2015-12-25']+\
['2016-07-04','2016-11-24','2016-12-26']
test_us=[]
train_uk=['2015-12-25','2015-12-28'] +\
['2016-01-01','2016-03-28','2016-05-02','2016-05-30','2016-12-26','2016-12-27']
test_uk=['2017-01-01']
train_de=['2015-10-03', '2015-12-25', '2015-12-26']+\
['2016-01-01', '2016-03-25', '2016-03-26', '2016-03-27', '2016-01-01', '2016-05-05', '2016-05-15', '2016-05-16', '2016-10-03', '2016-12-25', '2016-12-26']
test_de=['2017-01-01']
train_fr=['2015-07-14', '2015-08-15', '2015-11-01', '2015-11-11', '2015-12-25']+\
['2016-01-01','2016-03-28', '2016-05-01', '2016-05-05', '2016-05-08', '2016-05-16', '2016-07-14', '2016-08-15', '2016-11-01','2016-11-11', '2016-12-25']
test_fr=['2017-01-01']
train_ru=['2015-11-04']+\
['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07', '2016-02-23', '2016-03-08', '2016-05-01', '2016-05-09', '2016-06-12', '2016-11-04']
test_ru=['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06', '2017-01-07', '2017-02-23']
train_es=['2015-08-15', '2015-10-12', '2015-11-01', '2015-12-06', '2015-12-08', '2015-12-25']+\
['2016-01-01', '2016-01-06', '2016-03-25', '2016-05-01', '2016-08-15', '2016-10-12', '2016-11-01', '2016-12-06', '2016-12-08', '2016-12-25']
test_es=['2017-01-01', '2017-01-06']
train_ja=['2015-07-20','2015-09-21', '2015-10-12', '2015-11-03', '2015-11-23', '2015-12-23']+\
['2016-01-01', '2016-01-11', '2016-02-11', '2016-03-20', '2016-04-29', '2016-05-03', '2016-05-04', '2016-05-05', '2016-07-18', '2016-08-11', '2016-09-22', '2016-10-10', '2016-11-03', '2016-11-23', '2016-12-23']
test_ja=['2017-01-01', '2017-01-09', '2017-02-11']
train_zh=['2015-09-27', '2015-10-01', '2015-10-02','2015-10-03','2015-10-04','2015-10-05','2015-10-06','2015-10-07']+\
['2016-01-01', '2016-01-02', '2016-01-03', '2016-02-08', '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12', '2016-04-04', '2016-05-01', '2016-05-02', '2016-06-09', '2016-06-10', '2016-09-15', '2016-09-16', '2016-10-03', '2016-10-04','2016-10-05','2016-10-06','2016-10-07']
test_zh=['2017-01-02', '2017-02-27', '2017-02-28', '2017-03-01']
#in China some saturday and sundays are worked
train_o_zh=['2015-10-10','2016-02-06', '2016-02-14', '2016-06-12', '2016-09-18', '2016-10-08', '2016-10-09']
test_o_zh=['2017-01-22', '2017-02-04']

#let's replace values in 'ferie' columns
train.loc[(train.origine=='en')&(train.date.isin(train_us+train_uk)), 'ferie']=1
train.loc[(train.origine=='de')&(train.date.isin(train_de)), 'ferie']=1
train.loc[(train.origine=='fr')&(train.date.isin(train_fr)), 'ferie']=1
train.loc[(train.origine=='ru')&(train.date.isin(train_ru)), 'ferie']=1
train.loc[(train.origine=='es')&(train.date.isin(train_es)), 'ferie']=1
train.loc[(train.origine=='ja')&(train.date.isin(train_ja)), 'ferie']=1
train.loc[(train.origine=='zh')&(train.date.isin(train_zh)), 'ferie']=1
train.loc[(train.origine=='zh')&(train.date.isin(train_o_zh)), 'ferie']=0

#same with test
test = pd.read_csv("key_1.csv")
test['date'] = test.Page.apply(lambda a: a[-10:])
test['Page'] = test.Page.apply(lambda a: a[:-11])
test['date'] = test['date'].astype('datetime64[ns]')
test['ferie'] = ((test.date.dt.dayofweek) >=5).astype(float)
test['origine']=test['Page'].apply(lambda x:re.split(".wikipedia.org", x)[0][-2:])

#joint with result
join=test.loc[test.origine.isin(["ts","er"]), ['Page']]
join['origine']=0
join.index=join["Page"]
join.origine=result
test.loc[test.origine.isin(["ts","er"]), ['origine']]=join.origine.values

test.loc[(test.origine=='en')&(test.date.isin(test_us+test_uk)), 'ferie']=1
test.loc[(test.origine=='de')&(test.date.isin(test_de)), 'ferie']=1
test.loc[(test.origine=='fr')&(test.date.isin(test_fr)), 'ferie']=1
test.loc[(test.origine=='ru')&(test.date.isin(test_ru)), 'ferie']=1
test.loc[(test.origine=='es')&(test.date.isin(test_es)), 'ferie']=1
test.loc[(test.origine=='ja')&(test.date.isin(test_ja)), 'ferie']=1
test.loc[(test.origine=='zh')&(test.date.isin(test_zh)), 'ferie']=1
test.loc[(test.origine=='zh')&(test.date.isin(test_o_zh)), 'ferie']=0

train_page_per_dow = train.groupby(['Page','ferie']).median().reset_index()
test = test.merge(train_page_per_dow, how='left')

In [5]:
evaluate(test.Visits)

44.6888756838

In [4]:
evaluate(test.Visits.fillna(0.0))

45.1382801997

In [14]:
holiday_res = test.Visits

In [231]:
test.shape

(8703780, 6)

In [232]:
test.loc[test.Visits.isnull(), 'Visits'] = 0

In [3]:
# fibo_res = pd.read_csv('res_backup/fibo_newlist_44.8.csv')

In [5]:
test.tail()

,Page,Id,date,ferie,origine,Visits
8703775,龙生九子_zh.wikipedia.org_mobile-web_all-agents,f69747f5ee68,2017-02-25,1.0,zh,256.5
8703776,龙生九子_zh.wikipedia.org_mobile-web_all-agents,2489963dc503,2017-02-26,1.0,zh,256.5
8703777,龙生九子_zh.wikipedia.org_mobile-web_all-agents,b0624c909f4c,2017-02-27,1.0,zh,256.5
8703778,龙生九子_zh.wikipedia.org_mobile-web_all-agents,24a1dfb06c10,2017-02-28,1.0,zh,256.5
8703779,龙生九子_zh.wikipedia.org_mobile-web_all-agents,add681d54216,2017-03-01,1.0,zh,256.5

In [6]:
test1 = test.copy()

In [21]:
test.tail(3)

,Page,Id,date,Visits
8703777,龙生九子_zh.wikipedia.org_mobile-web_all-agents,b0624c909f4c,2017-02-27,235.5
8703778,龙生九子_zh.wikipedia.org_mobile-web_all-agents,24a1dfb06c10,2017-02-28,235.5
8703779,龙生九子_zh.wikipedia.org_mobile-web_all-agents,add681d54216,2017-03-01,235.5

In [22]:
test1.tail(3)

,Page,Id,date,ferie,origine,Visits
8703777,龙生九子_zh.wikipedia.org_mobile-web_all-agents,b0624c909f4c,2017-02-27,1.0,zh,256.5
8703778,龙生九子_zh.wikipedia.org_mobile-web_all-agents,24a1dfb06c10,2017-02-28,1.0,zh,256.5
8703779,龙生九子_zh.wikipedia.org_mobile-web_all-agents,add681d54216,2017-03-01,1.0,zh,256.5

In [ ]:
fibo_window_res = pd.read_csv("res_backup/fibo_more_window_no_filling_na_44.5.csv")

In [28]:
test.Visits = np.round(test.Visits * 0.4 + test1.Visits * 0.6)

In [29]:
test.head()

,Page,Id,date,Visits
0,!vote_en.wikipedia.org_all-access_all-agents,bf4edcf969af,2017-01-01,3.0
1,!vote_en.wikipedia.org_all-access_all-agents,929ed2bf52b9,2017-01-02,2.0
2,!vote_en.wikipedia.org_all-access_all-agents,ff29d0f51d5c,2017-01-03,2.0
3,!vote_en.wikipedia.org_all-access_all-agents,e98873359be6,2017-01-04,2.0
4,!vote_en.wikipedia.org_all-access_all-agents,fa012434263a,2017-01-05,2.0

In [32]:
test.Visits.isnull().any()

False

In [33]:
test[["Id", "Visits"]].to_csv("fibo_holiday_more_window.csv", index=False)

In [27]:
# test1.Visits.isnull().any()

In [17]:
fibo_res.tail()

                   Id  Visits
8703775  f69747f5ee68   233.0
8703776  2489963dc503   233.0
8703777  b0624c909f4c   233.0
8703778  24a1dfb06c10   233.0
8703779  add681d54216   233.0

In [38]:
weighted_res = pd.read_csv("res_backup/weight_0.9_median_45.1.csv")

In [39]:
fibo_res.Visits = np.round(test.Visits * 0.6 + weighted_res.Visits * 0.1 + fibo_res.Visits * 0.3)

In [40]:
fibo_res.to_csv("fibo_holiday_weekend_2.csv", index=False)